<p>solicitud-credito works!</p>

<div class="registro">
  <h2>
    SOLICITUD DE CREDITO
  </h2>
  <!-- <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()"> -->
    <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
      <label>Buscar cliente con su identificacion</label>
      <input type="number" class="id"
      name="id"
      [(ngModel)]="id"
      [ngModelOptions]="{standalone: true}"
      pattern="[0-9]+"
       >
    <span *ngIf="Encontrado">
      Cliente no encontrado
    </span>

    <button (click)='buscarCliente()'>
      click
    </button>


      <div formGroupName="datosUsuario">
       <label>Identificacion</label>
         <input type="number" class="identificacion"
         id="identificacion"
         formControlName="identificacion">
         <span
       *ngIf="!miFormulario.get('datosUsuario.identificacion').valid && miFormulario.get('datosUsuario.identificacion').touched "
         class="help-block">Este campo es requerido.
          </span>


         <label>Nombre</label>
         <input type="text" class="nombre"
          id="nombre"
         formControlName="nombre">
         <span
       *ngIf="!miFormulario.get('datosUsuario.nombre').valid && miFormulario.get('datosUsuario.nombre').touched "
         class="help-block">Este campo es requerido.
          </span>

         <label>Apellido</label>
         <input type="text" class="apellido"
         id="apellido"
         formControlName="apellido">

       <span
       *ngIf="!miFormulario.get('datosUsuario.apellido').valid && miFormulario.get('datosUsuario.apellido').touched "
         class="help-block">Este campo es requerido.
         </span>

          <label>Fecha de nacimiento</label>
         <input type="text" class="fecha"
         id="fecha"
         formControlName="fecha"
         required>

         <label>Identificador Unico de registro (KEY)</label>
         <input type="text" class="key"
         id="key"
         formControlName="key"
         >
         <span
       *ngIf="!miFormulario.get('datosUsuario.fecha').valid && miFormulario.get('datosUsuario.fecha').touched "
         class="help-block">Este campo es requerido.
         </span>


       </div>

       <label>Monto del prestamo</label>
       <input type="text" class="total"
        id="total"
        formControlName="total">
        <span
       *ngIf="!miFormulario.get('total').valid && miFormulario.get('total').touched "
         class="help-block">Este campo es requerido.
         </span>


         <span
               *ngIf="!miFormulario.valid && miFormulario.touched "
                 class="help-block">Debes llenar todos los campos
               </span>

         <button
          type="submit"
          class=""
          [disabled]="!miFormulario.valid"
          (click)="mostrarMensaje()">
          Realizar prestamo
         </button>
       </form>
       <div class="mensaje" *ngIf="mensaje"><p>Credito Aprobado</p></div>
       <a routerLink="/home">Regresar</a>
       </div>
