
<div class="registro">
  <h2>
    REGISTRO DE CLIENTES DEL BANCO
  </h2>
  <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
 <!-- <div formGroupName="datosUsuario"> -->
  <label>Identificacion</label>
    <input type="number" class="identification"
    id="identification"
    formControlName="identification">
    <span
  *ngIf="!miFormulario.get('identification').valid && miFormulario.get('identification').touched "
    class="help-block">Este campo es requerido.
     </span>


    <label>Nombre</label>
    <input type="text" class="firstname"
     id="firstname"
    formControlName="firstname">
    <span
  *ngIf="!miFormulario.get('firstname').valid && miFormulario.get('firstname').touched "
    class="help-block">Este campo es requerido.
     </span>

    <label>Apellido</label>
    <input type="text" class="lastname"
    id="lastname"
    formControlName="lastname">

  <span
  *ngIf="!miFormulario.get('lastname').valid && miFormulario.get('lastname').touched "
    class="help-block">Este campo es requerido.
    </span>

     <label>Fecha de nacimiento</label>
    <input type="date" class="birthdate"
    id="birthdate"
    formControlName="birthdate"
    required (onblur)="ingresoFecha()">

  <!-- </div> -->

   <span
  *ngIf="!miFormulario.get('birthdate').valid && miFormulario.get('birthdate').touched "
    class="help-block">Edad invalida.
    </span>
     <button
     type="submit"
     class=""
     [disabled]="!miFormulario.valid">
     Registrar Cliente
    </button>
        </form>

    <div>
      <p *ngIf="clienteExistente">El Cliente ya esta registrado previamente</p>
    </div>

    <div>
      <p *ngIf="registroExitoso">Registro Exitoso</p>
    </div>

  <div class="error">
    <p *ngIf="error">{{mensaje}}</p>
  </div>
  <a routerLink="/home">Regresar</a>

</div>
